name: Test

on:
  workflow_call:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/**

jobs:
  test-publish-gem:
    name: It publishes a RubyGem in a folder
    runs-on: ubuntu-latest
    environment: Publish to Rubygems
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.2
          bundler-cache: true
      - name: Test the action
        uses: ./
        with:
          rubygems_api_key: ${{ secrets.RUBYGEMS_API_KEY }}
          working_directory: "test"
      - name: Get latest gem info
        id: latest-gem
        run: |
          payload=$(curl https://rubygems.org//api/v1/versions/cucumber-test-release-automation/latest.json)
          echo "payload=$payload" >> $GITHUB_OUTPUT
      - name: Check latest published gem version is as expected
        run: |
          [ "${{ fromJSON(steps.latest-gem.outputs.payload).version }}" == "0.0.${{ github.sha}}" ]
